
<div class="border-bottom" style="margin-bottom:16px; padding-bottom:10px">
  <div class="container text-center">
    <div class="row align-items-center">
    <div class="col-9">
  <h4 style="color: rgb(20, 100, 200);margin-bottom:4px;"> 
    {{t['country']}}
  </h4>
  <div>
    <b>Currency : </b>{{t['currency']}}
    </div>
  {% if 'language' in t %}
  <div>
    <b>Langauge : </b>{{t['language']}}
  </div>
  {% endif %}
</div>
      <div class="col-3">
  <div class="text-end" >
    <button type="button" class="btn btn-outline-danger">Apply</button>
  </div>
  </div>
  </div>
  </div>
</div>